.grid {
    border: solid 1px black;
    transition: background-color .5s ease-in-out;
}

#container {
    display: grid;
    height: 1000px;
    width: 1000px;
}

.grid:hover {
    background-color: lightgray;
    transition: none;
}